body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F1F1F1;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', sans-serif
}

header h1 {
    font-family: 'Roboto Slab', sans-serif;
    color: #fa8704ff;
}


.jumbotron {
    margin: 0;
    padding: 15px;
}

.row-content {
    padding: 25px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}